<div id="footer-section">
  <div id="main-container">
    <div class="grid footer-content">
      <div class="footer-logo">
        <div class="logo"><img src="https://quickwork.co/assets/images/qw-logo.png"></div>
      </div>
      <div class="footer-links">
        <h6 class="m-b-20">PLATFORM</h6>
        <h5 class="footer-link">
          <span tabindex="0">Apps</span>
        </h5>
        <h5 class="footer-link">
          <span tabindex="0">Features</span>
        </h5>
        <h5 class="footer-link">
          <span tabindex="0">Resources</span>
        </h5>
      </div>
      <div class="footer-links">
        <h6 class="m-b-20">COMPANY</h6>
        <h5 class="footer-link">
          <span tabindex="0">About Us</span>
        </h5>
        <h5 class="footer-link">
          <span tabindex="0">Contact Us</span>
        </h5>
      </div>
      <div class="footer-links">
        <h6 class="m-b-20">LEGAL</h6>
        <h5 class="footer-link">
          <a target="_blank" href="https://quickwork.co/privacy-policy">Privacy Policy</a>
        </h5>
        <h5 class="footer-link">
          <a target="_blank" href="https://quickwork.co/terms-of-service">Terms of service</a>
        </h5>
        <h5 class="footer-link">
          <a target="_blank" href="https://quickwork.co/privacy-policy/gdpr">GDPR</a>
        </h5>
      </div>
      <div class="footer-social-media">
        <h6 class="m-b-20">FOLLOW US</h6>
        <div class="social-media-icons">
          <a href="https://www.youtube.com/channel/UCmFRGtGxeQNpIwUx5z1I63A" target="_blank">
            <img src="https://quickwork.co/assets/images/Youtube.svg">
          </a>
          <a href="https://twitter.com/quickworkco" target="_blank">
            <img src="https://quickwork.co/assets/images/Twitter.svg">
          </a>
          <a href="https://www.facebook.com/quickwork.co/" target="_blank">
            <img src="https://quickwork.co/assets/images/Facebook.svg">
          </a>
          <a href="https://www.linkedin.com/company/quickwork/" target="_blank">
            <img src="https://quickwork.co/assets/images/LinkedIn.svg">
          </a>
        </div>
      </div>
    </div>
    <div class="copy-right-container">
      <div class="row m-0 qw-footer items-flex-center flex-justification-start">
        <div class="qw-copyright"> Copyright © Quickwork 2020 </div>
      </div>
    </div>
  </div>
</div>

<style>

.m-b-20{
  margin-bottom: 20px;
}
#footer-section {
	 background: #efeef0;
	 position: relative;
	 z-index: 2;
	 padding: 60px 0px;
}

#main-container {
    max-width: 1144px;
    margin: auto;
    padding: 0 30px;
} 

.logo > img{
  width:120px;
}
.button {
	 border-radius: 4px;
	 background: #697181;
	 padding: 12px 23px 11px;
	 color: #fff;
}
 .row {
	 display: flex;
	 margin-top: 60px;
}
 .col {
	 display: flex;
	 flex-direction: column;
}
 h5 {
	 text-align: left;
    font-size: 12px;
    color: #494d59;
    font-weight: 400;

}
 h6 {
	     text-align: left;
    font-weight: 900;
    font-size: 12px;
    color: #494d59;
}
 .email-input {
	 border: 1px solid #697181;
	 background: none;
	 padding: 12px 20px 13px;
	 border-radius: 4px;
	 width: 100%;
}
 .email-input::placeholder {
	 color: #697181;
}
 .notify-email {
	 max-width: 208px;
}
 
 .copy-right-container {
	 width: 100%;
	 border-top: 1px solid #bfbdc1;
	 margin-top: 40px;
}
 .qw-footer {
	 padding: 0px;
	 padding-top: 25px;
}
 .qw-copyright {
	 color: #697181;
	 line-height: 20px;
	 font-weight: 400;
	 font-size: 10px;
}
 .vision-statement-container .col:not(:last-child) {
	 margin-right: 50px;
}
/* ABOUT US PAGE */
 @media all and (max-width: 1240px) {
	 .logo {
		 margin-right: 0px;
	}
}
 @media all and (max-width: 980px) {
	 .logo {
		 margin-right: 20px;
	}
}
 @media all and (max-width: 795px) {
	 .row {
		 margin-top: 15px;
		 justify-content: space-between !important;
		 align-items: start !important;
		 flex-wrap: wrap !important;
	}
	 .col {
		 justify-content: start !important;
		 align-items: start !important;
	}
	 .row > * {
		 margin: 0px;
	}
	 .vision-statement-container .col:not(:last-child) {
		 margin-bottom: 20px;
		 flex-basis: 20%;
	}
	 .notify-email {
		 margin-bottom: 20px !important;
	}
	 .logo {
		 margin: 0px;
	}
	 .qw-footer {
		 padding: 25 0;
	}
	 .qw-copyright {
		 color: #494d59;;
		 line-height: 20px;
		 font-weight: 400;
		 font-size: 10px;
	}
}
 @media all and (max-width: 520px) {
	 .row, .col {
		 justify-content: center !important;
		 align-items: center !important;
	}
	 .col {
		 width: 100%;
	}
	 .vision-statement-container .col:not(:last-child) {
		 margin: 0px;
		 margin-bottom: 20px;
		 flex-basis: 100%;
	}
	 .vision-statement-container h5, .vision-statement-container h6 {
		 text-align: center;
	}
}
 .privacy-policy-link {
	 margin-left: 10px;
	 text-decoration: none;
	 color: #0e106a;
}
 .footer-link {
	 cursor: pointer;
}
 .footer-link.footer-link:focus {
	 box-shadow: unset !important;
	 border: unset !important;
	 outline: unset !important;
}
 .footer-link a {
	 color: inherit;
	 text-decoration: none;
}
 .newsletter {
	 display: flex;
	 margin: 0px;
}


 .grid.footer-content {
   display: grid;
	 grid-gap: 20px;
	 grid-template-columns: repeat(auto-fill, minmax(166px, 1fr));
}
 .grid.footer-content .social-media-icons {
	 display: flex;
	 flex-direction: row;
	 justify-content: space-between;
}
 @media all and (max-width: 411px) {
	 .social-media-icons {
		 justify-content: space-evenly !important;
	}
	 .footer-logo *, .footer-links *, .footer-social-media * {
		 text-align: center;
	}
}


</style>