<div id="footer-section">
  <div id="main-container">
    <div class="grid footer-content">
      <div class="footer-logo">
        <div class="logo"><img src="https://quickwork.co/assets/images/qw-logo.png"></div>
      </div>
      <div class="footer-links">
        <h6 class="m-b-20">PLATFORM</h6>
        <h5 class="footer-link">
          <span tabindex="0">Apps</span>
        </h5>
        <h5 class="footer-link">
          <span tabindex="0">Features</span>
        </h5>
        <h5 class="footer-link">
          <span tabindex="0">Resources</span>
        </h5>
      </div>
      <div class="footer-links">
        <h6 class="m-b-20">COMPANY</h6>
        <h5 class="footer-link">
          <span tabindex="0">About Us</span>
        </h5>
        <h5 class="footer-link">
          <span tabindex="0">Contact Us</span>
        </h5>
      </div>
      <div class="footer-links">
        <h6 class="m-b-20">LEGAL</h6>
        <h5 class="footer-link">
          <a target="_blank" href="https://quickwork.co/privacy-policy">Privacy Policy</a>
        </h5>
        <h5 class="footer-link">
          <a target="_blank" href="https://quickwork.co/terms-of-service">Terms of service</a>
        </h5>
        <h5 class="footer-link">
          <a target="_blank" href="https://quickwork.co/privacy-policy/gdpr">GDPR</a>
        </h5>
      </div>
      <div class="footer-social-media">
        <h6 class="m-b-20">FOLLOW US</h6>
        <div class="social-media-icons">
          <a href="https://www.youtube.com/channel/UCmFRGtGxeQNpIwUx5z1I63A" target="_blank">
            <img src="https://quickwork.co/assets/images/Youtube.svg">
          </a>
          <a href="https://twitter.com/quickworkco" target="_blank">
            <img src="https://quickwork.co/assets/images/Twitter.svg">
          </a>
          <a href="https://www.facebook.com/quickwork.co/" target="_blank">
            <img src="https://quickwork.co/assets/images/Facebook.svg">
          </a>
          <a href="https://www.linkedin.com/company/quickwork/" target="_blank">
            <img src="https://quickwork.co/assets/images/LinkedIn.svg">
          </a>
        </div>
      </div>
    </div>
    <div class="copy-right-container">
      <div class="row m-0 qw-footer items-flex-center flex-justification-start">
        <div class="qw-copyright"> Copyright © Quickwork 2020 </div>
      </div>
    </div>
  </div>
</div>